* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

#header .content-box {
    background: linear-gradient( rgba(0,0,0,0.3) , rgba(0,0,0,0.4) ) , url(./images/meeting.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#header .nav {
    display: flex;
    padding: 40px 100px;
}

#header .nav img {
    width: 100px;
}

.flex-seperator {
    flex-grow: 1;
}

#header .nav button {
    margin: 0;
    padding: 10px 20px;
    background-color:orchid;
    color: white;
    outline: none;
}

.banner-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    line-height: 2;
}

.banner-text h2 {
    font-size: 40px;
    padding-bottom: 8px;
}

.banner-text a {
    text-decoration: none;
    color: #fff;
    background-color: orchid;
    padding: 8px 32px;
    border: none;
    transition: 0.5s;
}

.banner-text a:hover {
    background-color: #eee;
    color: #000;
}

/*for all other sections except the header one*/
.container {
    padding: 100px;
    padding-bottom: 0;
    background-color: #efefef;
    text-align: center;
}

#service h1 {
    font-size: 44px;
    font-weight: 400;
}

#service h1::after {
    height: 3px;
    width: 150px;
    background-color: orchid;
    content: '';
    display: block;
    margin: auto;
}

.services-row {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.services-row div {
    flex-basis: 25%;
    padding: 20px;
}

.services-row div i {
    border: solid 2px orchid;
    border-radius: 50%;
    padding: 16px;
    color: orchid;
    font-size: 22px;
}

.services-row div h3 {
    margin: 16px 0;
}

.services-row div h3 span {
    color: orchid;
}

.services-row div:hover {
    background-color: #ff4d73;
    box-shadow: 5px 5px 10px rgb(105, 100, 100);
    color: white;
    cursor: pointer;
}

.services-row div:hover i {
    color: white;
    border-color: brown;
}

.services-row div:hover span {
    color: #000;
}


#features .container {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#features .container div {
    width: 50%;

}

#features .container img {
    width: 100%;
}

#features h2 {
    font-size: 34px;
    font-weight: 400;
}

#features h2::after {
    content: "";
    height: 3px;
    width: 100px;
    background-color: orchid;
    display: block;
}

#features ul {
    padding: 50px;
    list-style-type: none;
}

#features ul li {
    padding: 10px 0;
}


#touch .container {
    display: flex;
    text-align: left;
}

#touch .container div {
    width: 50%;
}

input, textarea {
    width: 80%;
    padding: 8px;
    border: none;
    margin: 4px 0;
    font-size: 14px;
}

form button {
    color: white;
    background-color: dodgerblue;
    outline: none;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

form button:hover {
    background-color: royalblue;
}

#touch .contact p {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px 10px;
}

#touch .contact p i {
    color: #ff4d73;
}

.last {
    padding-top: 60px;
}

.last p {
    margin-top: 8px;
    padding-bottom: 30px;
}

.last p i {
    color: #ff4d79;
}
